
.title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.text {
    margin-top: 80px;
    margin-bottom: 80px;
}

.custom-control-inline {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin-right: 9%;
    margin-left: 9%;
}

.form-check-input {
    position: absolute !important;
    left: 50%;
    transform: translateX(-54%) translateY(-200%) !important;
    margin: 0 !important;
    bottom: 5px !important;
}

.cont-text-radio {
    margin-right: 12%;
}

.text-radio {
    padding-top: 30px;
    margin: 0;
}

.otree-body {
    max-width: 100% !important;
}

.otree-btn-next {
    display: block;
    margin: 0 auto;
}

.page-header{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
}

.counter-time{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    background-color: #66ff66;
    font-size: 1.2em;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

label{
    transform: translateY(200%);
}

.table_contract {
    width: 100%;
}

.cell_left {
    text-align: center !important;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}

.cell_center {
    width: 20%;
}

.cell_right {
    text-align: center !important;
    padding-left: 10px;
    padding-right: 10px;-
}

.cell_top {
    vertical-align: top;
}

.cell_top {
    height: 40%;
}

.cell_bottom {
    margin-bottom: 80px;
    margin-top: 80px;
    display: block;
    text-align: center;
}

.cell_mid {
    height: 275px;
}

.cell_br {
    width: 100%;
    display: block;
}