{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style type="text/css">
#id_c11_5{
    display: none;
}
</style>
{% endblock %}

{% block scripts %}
<link href="{% static 'css/contracts.css' %}" rel="stylesheet">

<script src="{% static 'js/contracts.js' %}"></script>

<script type="text/javascript">
var time = 0;
var dateInit = Date.now();
var dateClick = dateInit;

$('label[for="id_c11_5"]').hide();

setInterval(countdown, 1000);
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="counter-time" id="counter-time">
        Tiempo restante para contestar: <b id="countdown">10</b> segundos
    </div>
    <div class="row">
        <div class="col text-center">
            <h2 class="title">Contrato</h2>
            <p class="text">Pago: $100.000</p>
            <p class="text">El seguro vale $20.000 [20% pago]</p>
            <p class="text">Bono para quienes cumplan meta de tareas</p>
            <p class="text">Trabajo en Parejas</p>
        </div>
        <div class="col">
            <h4>¿Qué tan dispuesto está a aceptar este contrato?</h4>
            <p>Por favor elija cualquier número entre 1 y 5 para indicar en que lugar de la escala se encuentra. Use
                1, 2, 3, 4 ó 5.</p>
            <div class="d-flex">
                <div class="cont-text-radio">
                    <p class="text-radio">Disposición</p>
                </div>
                <div class="custom-control-inline">
                    <input type="radio" id="disposition1" name="c11" class="radio-inline" value="1">
                    <label for="disposition1">1</label>
                </div>
                <div class="custom-control-inline">
                    <input type="radio" id="disposition2" name="c11" class="radio-inline" value="2">
                    <label for="disposition2">2</label>
                </div>
                <div class="custom-control-inline">
                    <input type="radio" id="disposition3" name="c11" class="radio-inline" value="3">
                    <label for="disposition3">3</label>
                </div>
                <div class="custom-control-inline">
                    <input type="radio" id="disposition4" name="c11" class="radio-inline" value="4">
                    <label for="disposition4">4</label>
                </div>
                <div class="custom-control-inline">
                    <input type="radio" id="disposition5" name="c11" class="radio-inline" value="5">
                    <label for="disposition5">5</label>
                </div>
            </div>
        </div>
    </div>
</div>
{% next_button %}


{% endblock %}