{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style type="text/css">
#id_c4_5{
    display: none;
}
</style>
{% endblock %}

{% block scripts %}
<link href="{% static 'css/contracts.css' %}" rel="stylesheet">

<script src="{% static 'js/contracts.js' %}"></script>

<script type="text/javascript">
var time = 0;
var dateInit = Date.now();
var dateClick = dateInit;

$('label[for="id_choice_5"]').hide();

//setInterval(countdown, 10000));
setTimeout(next_screen, ({{ time }} * 1000));
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="counter-time" id="counter-time">
        Tiempo restante para contestar: <b id="countdown">10</b> segundos
    </div>
    <div class="row">
        <div class="col text-center">
            <h2 class="title">Contrato</h2>

            <p class="text">Pago: ${{ config_contract.payment }}</p>

            <p class="text">
                El seguro vale ${{ config_contract.insurance }}, <br>
                se deduce ese {{ config_contract.percentage }}% de su pago</p>
            {% if config_contract.bonusrelative == 0 %}
                <p class="text">Bono por cumplir meta de tareas.</p>
            {% else %}
                <p class="text">Bono por hacer más tareas que otros.</p>
            {% endif %}

            {% if config_contract.alone == 0 %}
                <p class="text">Trabajo Individual</p>
            {% else %}
                <p class="text">Trabajo en Parejas</p>
            {% endif %}
        </div>
    </div>
</div>
{% next_button %}

{% endblock %}