{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Preguntas
{% endblock %}

{% block styles %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<p>Por cada respuesta correcta a las siguientes 3 preguntas recibe $2.000 adicionales</p>

    <p>1. Una raqueta y una pelota cuestan $11.000 en total. La raqueta cuesta $10.000 más que la pelota. ¿Cuánto cuesta la pelota?</p>
    <textarea name="crt1" id="crt1" class="form-control text_input" required style="margin-bottom: 5px;"></textarea> 
    
    <p>2. Si 5 máquinas tardan 5 minutos en fabricar 5 piezas, ¿cuánto tardarán 100 máquinas en fabricar 100 piezas?</p>
    <textarea name="crt2" id="crt2" class="form-control text_input" required style="margin-bottom: 5px;"></textarea> 

    <p>3. En un lago hay una zona cubierta de lirios. El área de lirios se hace el doble de grande cada día. Si el área de lirios tarda 48 días en cubrir el lago entero, 
        ¿cuántos días tardarán los lirios en cubrir la mitad del lago?</p>
    <textarea name="crt3" id="crt3" class="form-control text_input" required style="margin-bottom: 5px;"></textarea> 
 
{{ form.errors }}
{% next_button %}

{% endblock %}