{% extends "global/Page.html" %} {% load otree static %} 

{% block content %}
    <h1>Calificación de contratos</h1>

    <p> Los valores que puede tomar un contrato son:</p>  

    <ol>
        <li>Un PAGO de <b>$100,000</b> o <b>$60,000</b> por participar en la <i>actividad adicional</i> - Julio.</li>
        <li>Un DESCUENTO de un <b>10%</b> o <b>20%</b> de su pago para comprar un SEGURO.<br>En caso de que no pueda ir a la <i>actividad adicional</i> el seguro le paga $11,000.</li>
        <li>Si el BONO por $20.000 será asignado a los que <b>hagan más tareas</b> que otros o a los que cumplan la <b>meta de tareas</b>.</li> 
        <li>Si el trabajo va ser <b>individual</b> o en <b>parejas</b>.</li>
    </ol> 
    
        <p>
            Recuerde que usted tendrá 10 segundos para calificar cada contrato en una escala entre 1 y 5.<br>
            Puede usar 1, 2, 3, 4 ó 5 para indicar que tanto le gustaría tener cada contrato. 
        </p>
        <p>
            En esta pregunta no hay respuestas correctas o incorrectas. Usted es libre de dar la calificación que prefiera.
        </p>

{% next_button %} 
{% endblock %}