{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles_imp.css' %}" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            formulario = document.getElementById("form");
        });

        // Función para pasar a la siguiente pantalla
        function next_screen(){
            formulario.submit();
        };

        // Para que la página haga una accion despues de 1.000 milisegundos
        // esta acción es la que está en la función 'next_screen'
        setTimeout(next_screen, ({{ seconds_per_template }} * 1000));

    </script>
{% endblock %}

{% block content %}
    <div class="div_body">
        
        <div style="position: absolute; width: 4vw; height: 8vh; top: 46vh; left: 48vw;">
            <table>
                <tr>
                    <td style="width: 2vw; height: 4vh; border-right: 1px solid #000000; border-bottom: 1px solid #000000;"></td>
                    <td style="width: 2vw; height: 4vh; border-left: 1px solid #000000; border-bottom: 1px solid #000000;"></td>
                </tr>
                <tr>
                    <td style="width: 2vw; height: 4vh; border-right: 1px solid #000000; border-top: 1px solid #000000;"></td>
                    <td style="width: 2vw; height: 4vh; border-left: 1px solid #000000; border-top: 1px solid #000000;"></td>
                </tr>
            </table>
        </div>
        
    </div>
{% endblock %}

