{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            formulario = document.getElementById("form");
            card_info = document.getElementsByClassName("debug-info")[0];

            card_info.style.display = "none";


        });

        function next_page(){
            formulario.submit();
        };

        setTimeout(next_page, 1000);

    </script>
{% endblock %}

{% block content %}
    <div class="div_body">
        
        
        
    </div>
{% endblock %}

