{% extends "global/Page.html" %} {% load otree static %} 

{% block content %}
    <h1>Instrucciones Generales</h1>

    <p> En esta actividad su tarea consiste en evaluar 16 <i>contratos</i>. 
        También le aparecerán dos contratos al mismo tiempo en una pantalla, en este caso deberá elegir solo uno.</p>  

        <h5>¿A qué le llamamos Contratos?</h5>

        <p>Cada <i>contrato</i> define cuatro reglas sobre sus derechos y deberes en caso de ser seleccionado para hacer una <b>actividad adicional</b>. 
            La <i>actividad adicional</i> consiste en tareas manuales (por ejemplo, organizar hojas en sobres) y se hará en un salón de la Universidad del Rosario durante una jornada de un día que no se cruce con su trabajo.</p>
        
        <p>Las cuatro reglas que componen un <i>contrato</i> son: </p>
        <ul>
            <li>El PAGO por el día,</li>
            <li>El DESCUENTO para pagar un SEGURO,</li>
            <li>La REGLA para asignar un BONO por desempeño,</li> 
            <li>Si el trabajo se realiza de manera INDIVIDUAL o en PAREJAS.</li>
        </ul> 

        <p>
            El SEGURO incluido en la descripción del <i>contrato</i> funciona de la siguiente manera: 
            En caso de ser seleccionado para la <i>actividad adicional</i>, usted escogerá una fecha y hora para realizarla, bajo las condiciones del contrato que sea seleccionado. 
            Si por algún motivo de fuerza mayor no puede asistir, usted recibirá una compensación de <b>$11.000</b>. 
            Sin embargo, si no asiste, no podrá realizar la <i>actividad adicional</i> en una fecha más adelante. 
        </p>
        <p> 
            Uno (<b>1</b>) de cada doce (<b>12<span style="color: #ff0000;"></span></b>) participantes será seleccionado para participar en la <i>actividad adicional</i> mencionada arriba. 
            La <i>actividad adicional</i> se realizará la segunda semana de Julio/2022, durante un día que usted podrá escoger al final. 
        </p>
        <p>
            <b>El <i>contrato</i> que define las reglas de la <i>actividad adicional</i> será escogido dentro de los <span style="color: #ff0000;">cuatro</span> contratos que usted califique con un puntaje más alto.</b>  
        </p>        

    <p> A continuación le explicaremos cómo calificar los contratos.</p>
    {% next_button %} 
    {% endblock %}