{% extends "global/Page.html" %} {% load otree static %} 

{% block content %}
    <h1>Instrucciones Generales</h1>

    <p> En esta actividad su tarea consiste en evaluar 16 contratos. 
        Usted podrá calificar cada <i>contrato</i> y 
        cuando le aparezcan dos contratos al mismo tiempo podrá que elegir solo uno.</p>  

        <h5>¿A qué le llamamos Contratos?</h5>

        <p>Cada <i>contrato</i> define cuatro reglas sobre sus derechos y deberes en caso de ser seleccionado para hacer una ACTIVIDAD ADICIONAL. 
            La actividad adicional consiste en una tarea manual, que se hará en un salón de la Universidad del Rosario durante una jornada de un día. </p>
        
        <p>Las cuatro reglas que componen un <i>contrato</i> son: </p>
        <ul>
            <li>El <i>PAGO</i> por el día,</li>
            <li>El valor de un <i>SEGURO</i> que se descuenta del pago,</li>
            <li>La regla para asignar un <i>BONO</i> por desempeño,</li> 
            <li>Si el trabajo se realiza de manera <i>INDIVIDUAL</i> o en <i>PAREJAS</i>.</li>
        </ul> 

        <p>
            El SEGURO incluido en la descripción del <i>contrato</i> funciona de la siguiente manera: 
            En caso de ser seleccionado para la actividad adicional, usted escogerá una fecha y hora para realizarla. 
            Si por algún motivo de fuerza mayor no puede asistir, usted recibirá una compensación de $11.000. 
            Sin embargo, no podrá recibir el monto total asociado a su <i>contrato</i> en otra fecha más adelante.
        </p>
        <p> 
            Uno de cada 12 participantes será seleccionado para participar en la actividad adicional mencionada arriba. 
            La actividad adicional se realizará la primera semana de Julio, durante un día que usted podrá escoger al final. 
        </p>
        <p>
            <b>El <i>contrato</i> que define las reglas de la actividad adicional será escogido dentro de los cuatro contratos que usted califique con un puntaje más alto.</b>  
        </p>        

    <p> A continuación le explicaremos cómo calificar los contratos.</p>
    {% next_button %} 
    {% endblock %}