{% extends "global/Page.html" %} {% load otree static %} 
{% load user_agents %}

{% block content %}
    <h1>Instrucciones Generales</h1>

    <p> En esta actividad su tarea consiste en pasar secuencias de <i>números</i> a <i>letras</i>. 
        Su pago depende del azar, y de la cantidad de secuencias correctas que usted y otros participantes realicen. </p> 

    <p> Usted participará en una ronda de práctica, y luego en un Torneo de 5 rondas. </p>

    <h3>Práctica: Ronda 0</h3>
        <p>El propósito es que se familiarice con la tarea.</p>
        
        <p>Usted tendrá 120 segundos para pasar la mayor cantidad de <i>secuencias</i> que pueda de números a letras.</p>

    <h3>Torneo: Rondas 1 a 5</h3>
        <p>
            En cada ronda, usted tendrá 120 segundos para pasar la mayor cantidad de <i>secuencias</i> que pueda de números a letras.
        </p>
        <p> 
            Su pago en cada ronda depende del número de secuencias correctas que haga y del tipo de contrato que tenga.
        </p>
        <p>
            Hay dos tipos de contrato: <i>Contrato A</i> y <i>Contrato B</i>. La tarea es la misma con ambos contratos, pero el pago por <i>secuencia</i> correcta con el <i>Contrato A</i> es el doble que con el <i>Contrato B</i>.
        </p>
        <p>
            Usted estará en un grupo con otras tres personas, cuatro en total. Dos recibirán el <i>Contrato A</i> y los otros dos el <i>Contrato B</i>.
        </p>

        <h5>¿Por qué le llamamos torneo?</h5>
        <p>
            Al final de cada ronda podrá cambiar de contrato, según su rendimiento y la suerte. Esto quiere decir que: <br>
            <ul>
                <li>Si tiene el <i>Contrato A</i>, puede ser relegado a tener el <i>Contrato B</i></li>
                <li>Si tiene el <i>Contrato B</i>, puede ser promovido a tener el <i>Contrato A</i></li>
            </ul> 
        </p>

        <p>Luego de la ronda de práctica explicaremos en detalle los cambios de contrato. </p>

        <h3>Ganancia adicional</h3>

        <p>Antes de finalizar se le presentarán 5 situaciones en las que dependiendo de sus decisiones y del azar podrá obtener una ganancia adicional.</p> 

        <h3>Pagos de la actividad</h3>

        <p>
            Su pago por toda la actividad corresponde a las ganancias en UNA de las cinco rondas del Torneo elegida al azar y $10.000 pesos por completar la actividad y responder la encuesta. Recuerde que podrá tener una ganancia adicional. 
        </p>

    <p> Por favor, escribanos por chat si necesita ayuda. Uno de los monitores se comunicará con usted y tratará de ayudarlo de manera individual. </p> 
    
    <p><b>
        {% formfields %}
    </b></p>

    <p> Haga <I>clic</I> en "Siguiente" para comenzar.</p>
    {% next_button %} 
    {% endblock %}