{% extends "global/Page.html" %} {% load otree static %} 

{% block content %}
    <h1>Instrucciones Generales</h1>

    <p> En esta actividad su tarea consiste en evaluar 16 contratos. 
        Usted podrá calificar cada <i>contrato</i> y 
        cuando le aparezcan dos contratos al mismo tiempo podrá que elegir solo uno.</p>  

        <h5>¿A qué le llamamos Contratos?</h5>

        <p>Cada <i>contrato</i> define cuatro reglas sobre sus derechos y deberes en caso de ser seleccionado para hacer una <b>actividad adicional</b>. 
            La <i>actividad adicional</i> consiste en tareas manuales (por ejemplo, organizar hojas en sobres) y se hará en un salón de la Universidad del Rosario durante una jornada de un día. </p>
        
        <p>Las cuatro reglas que componen un <i>contrato</i> son: </p>
        <ul>
            <li>El <i>PAGO</i> por el día,</li>
            <li>El valor de un <i>SEGURO</i> que se descuenta del pago,</li>
            <li>La regla para asignar un <i>BONO</i> por desempeño,</li> 
            <li>Si el trabajo se realiza de manera <i>INDIVIDUAL</i> o en <i>PAREJAS</i>.</li>
        </ul> 

        <p>
            El SEGURO incluido en la descripción del <i>contrato</i> funciona de la siguiente manera: 
            En caso de ser seleccionado para la <i>actividad adicional</i>, usted escogerá una fecha y hora para realizarla. 
            Si por algún motivo de fuerza mayor no puede asistir, usted recibirá una compensación de $11.000. 
            Sin embargo, no podrá recibir el monto total asociado a su <i>contrato</i> en otra fecha más adelante.
        </p>
        <p> 
            Uno (<b>1</b>) de cada doce (<b>12<span style="color: #ff0000;"></span></b>) participantes será seleccionado para participar en la <i>actividad adicional</i> mencionada arriba. 
            La <i>actividad adicional</i> se realizará la segunda semana de Julio/2022, durante un día que usted podrá escoger al final. 
        </p>
        <p>
            <b>El <i>contrato</i> que define las reglas de la <i>actividad adicional</i> será escogido dentro de los <span style="color: #ff0000;">cuatro</span> contratos que usted califique con un puntaje más alto.</b>  
        </p>        

    <p> A continuación le explicaremos cómo calificar los contratos.</p>
    {% next_button %} 
    {% endblock %}